mat-toolbar{
  border-radius: 20px 20px 0 0;
}

mat-card{
  padding: 20px;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-actions {
  margin-left: 16px;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}
