.container{
  border-radius: 20px;
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar{
  border-radius: 20px 20px 0 0;
}

.fields{
  border-radius: 0 0 20px 20px;
  margin-top: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.form-field {
  flex: 1;
  min-width: 200px;
}

.example-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.botoes{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}
