<mat-toolbar color="primary">

  <div class="container">
    <div class="logo">
      <img src="../../../../assets/main-logo.png" alt="Logo of a bull" />
    </div>

    <div class="contact-info">
      <h3>Entre em Contato</h3>
      <div class="info-item">
        <mat-icon>home Pin</mat-icon>
        <p class="custom-opacity">Av. Brasil - Ponta Aguda, Blumenau - SC 89050-000, 610</p>
      </div>
      <div class="info-item">
        <mat-icon>call</mat-icon>
        <p class="custom-opacity">Telefone: (47) 3333-5678</p>
      </div>
      <div class="info-item">
        <mat-icon>email</mat-icon>
        <p class="custom-opacity">E-mail: exemploexample.com</p>
      </div>
    </div>

    <div class="contact-info">
      <h3>Nossas redes</h3>
      <div class="info-item">
        <mat-icon>photo</mat-icon>
        <p><a class="custom-opacity" href="https://www.instagram.com/seuinstagram" >Instagram</a></p>
      </div>
      <div class="info-item">
        <mat-icon>facebook-box</mat-icon>
        <p><a class="custom-opacity" href="https://www.facebook.com/seufacebook">Facebook</a></p>
      </div>
      <div class="info-item">
        <mat-icon>close</mat-icon>
        <p><a class="custom-opacity" href="https://twitter.com/seutwitter">Twitter</a></p>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; 2024 Cattle Xchange. Todos os direitos reservados.</p>
    </div>
  </div>

</mat-toolbar>
