<mat-toolbar color="primary">
  <div class="logo">
    <img src="../../../../assets/main-logo.png" alt="Logo of a bull" />
  </div>
  <div class="container">
    <div class="contact-info">
      <h3>Entre em Contato</h3>
      <p>Endereço: Rua Exemplo, 1234</p>
      <p>Telefone: (00) 1234-5678</p>
      <p>E-mail: exemploexample.com</p>
    </div>

    <div class="social-links">
      <h3>Siga-nos</h3>
      <ul>
        <li><a href="https://www.instagram.com/seuinstagram" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/seufacebook" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/seutwitter" target="_blank">Twitter</a></li>
      </ul>
    </div>

    <div class="copyright">
      <p>&copy; 2024 Cattle Xchange. Todos os direitos reservados.</p>
    </div>
  </div>
</mat-toolbar>
