<mat-card class="cattle-main-card" #cardsContainer>
  <div class="cards-container">
    <mat-card *ngFor="let ad of ads; let first = first" class="cattle-ad-card" (click)="detail(ad.id)">
      <mat-card-header>
        <mat-card-title>{{ ad.title }}</mat-card-title>
      </mat-card-header>
      <ng-container *ngIf="ad.cattleAdImages && ad.cattleAdImages.length > 0">
        <img mat-card-image [src]="ad.cattleAdImages[0].url" alt="Photo of cattle" />
      </ng-container>
      <mat-card-content class="ad-info">
        <div>
          <p>Raça: {{ ad.breed }}</p>
          <p>Região: {{ ad.city }} - {{ ad.state }}</p>
        </div>
        <div>
          <p>Quantidade: {{ ad.quantity }}</p>
          <p>Sexo: {{ ad.sex }}</p>
        </div>
      </mat-card-content>
      <div class="ad-price">
        <p>R$: {{ ad.unitValue | currency:'BRL' }}/unid</p>
      </div>
    </mat-card>
  </div>
  <mat-paginator [length]="totalElements" [pageSize]="pageSize" (page)="onPageChange($event)">
  </mat-paginator>
</mat-card>
