.geral{
    display: flex;
}
.card_login{
    max-width: 600px;
    margin: 50px auto;
    border: 3px solid rgb(29, 117, 29);
    border-radius: 20px;
    background: linear-gradient(to right, #b5cab0, #5bb96b);
}
.form{
    width: 100%;
}
.form_field{
    width: 100%;
}
.button-actions {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  button {
    width: 100%;
    font-size: 20px;
    margin: 4px 2px;
    transition: all 0.4s ease; 
    border-radius: 20px; 
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.308), 0 4px 6px 0 rgba(0, 0, 0, 0.322); /* Sombra do botão */
}

.login {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    text-align: center;
    margin: 10;
    margin-top: 60px;
  }

  .forgot-password {
    text-align: right;
    margin-top: 8px;
}

.forgot-password a {
    color: rgb(16, 71, 16);
    text-decoration: none;
}
