<div class="geral">
    <mat-card class="card_login">
        <h1 class="login">Login</h1>
        
        <mat-card-content>
            <form class="form">
                <mat-form-field class="form_field">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. some@example.com">
                    <!--@if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        } -->
                    <mat-hint>Errors appear instantly!</mat-hint>
                </mat-form-field>

                <mat-form-field class="form_field">
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput placeholder="password">
                </mat-form-field>

                <div class="forgot-password">
                    <a href="/forgot-password">Esqueci minha senha</a>
                </div>

                <mat-card-actions class="button-actions">
                    <button mat-raised-button color="primary">Login</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>