.mat-toolbar {
  // min-width: auto;
  max-width: none;
  height: auto;
  // justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
}

ul {
  list-style: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.custom-opacity{
  color: white;
  opacity: 50%;
}

img{
  height: 5rem;
}
