<mat-card class="filter-card">
  <mat-card-content class="card-title"
    >FILTRE LOTES DE ACORDO COM SEU GOSTO</mat-card-content
  >
  <mat-card-content class="card-content">
    <form [formGroup]="form" class="form">
      <mat-form-field class="form-field">
        <mat-label>Sexo</mat-label>
        <mat-select multiple>
          <mat-option value="MALE">Macho</mat-option>
          <mat-option value="FEMALE">Fêmea</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Cidade</mat-label>
        <mat-select multiple>
          @for (city of cities; track city) {
          <mat-option [value]="city">{{ city }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>de $</mat-label>
        <input matInput type="number" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>até $</mat-label>
        <input matInput type="number" />
      </mat-form-field>
      <mat-card-actions class="button-actions">
        <button mat-raised-button color="primary">Filtrar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
