<mat-toolbar color="primary">
  <div class="logo">
    <img src="../../../../assets/main-logo.png" alt="Logo of a bull" />
  </div>
  <div class="nav-links">
    <span (click)="navigateTo('')">HOME</span>
    <span (click)="navigateOrSnack('/announce')">ANUNCIAR</span>
    <span>
      <button class="nav-links" mat-button [matMenuTriggerFor]="menu">
        OPERAÇÕES
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateOrSnack('/operations/myAds')">Meus Anúncios</button>
        <button mat-menu-item (click)="navigateOrSnack('/operations/myBuys')">Minhas Compras</button>
      </mat-menu>
    </span>
    <ng-container *ngIf="!isAuthenticated">
      <span (click)="navigateTo('/login')" class="p-entrar">
        <mat-icon>person</mat-icon>ENTRAR
      </span>
    </ng-container>
    <ng-container *ngIf="isAuthenticated">
      <span (click)="logout()" class="p-entrar">
        <mat-icon>logout</mat-icon>SAIR
      </span>
    </ng-container>
  </div>
</mat-toolbar>
